= t('mailer.common.greeting', name: @booking.name)
\
= t('mailer.booking_approved_client.header')
\
= t('mailer.booking_approved_client.message_text')
\
\---
\
= t('mailer.common.thanks_for_choosing_us_text')
\
= t('mailer.common.visit_us', link: root_url )
\
= t('mailer.common.signature')
\
= t(:insidevilla_team)
