= t('mailer.common.greeting', name: @name)
\
= t('mailer.contact_form_request.header')
\
= t('mailer.contact_form_request.message')
\
\---
\
= t('mailer.common.visit_us', link: root_url )
\
= t('mailer.common.signature')
\
= t(:insidevilla_team)
