= t('mailer.common.greeting', name: @feedback.author)
\
= t('mailer.feedback_created_client.header')
\
= t('mailer.feedback_created_client.message_text')
\
\---
\
= t('mailer.common.visit_us', link: root_url )
\
= t('mailer.common.signature')
\
= t(:insidevilla_team)
