= t('mailer.subscription.subscribed.header')
\
= t('mailer.subscription.subscribed.unsubscribe')
= raw t('mailer.subscription.subscribed.body_text', link: @unsubscribe_link)
\
\---
\
= t('mailer.common.signature')
\
= t(:insidevilla_team)
