.columns.large-4.medium-6.small-12
  .accommodation_container
    .accommodation_image{style: "background-image: url(#{estate_square.main_image(:estate_square)});"}
    %p= estate_square.title
    = link_to estate_square, class: "accommodation_about" do
      %h3.text-center= estate_square.title
      %span.accommodation_area
        = "#{t(:place_name)} #{t("places.#{estate_square.place}")}"
      %span.accommodation_area
        = "#{t(:region_name)} #{t("estate_regions.#{estate_square.region}")}"
      %span.accommodation_price
        = t(:price_per_period, price: money_without_cents(estate_square.price_month_low), period: I18n.t("price_periods.month"))
      %button.button= t(:details)
