!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    = metamagic site: ENV["SITE_TITLE"], title: -> { meta_title_for(title, site) }
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Insidevilla'}"}
    = include_gon(init: true)
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag href: 'https://fonts.googleapis.com/css?family=Open+Sans:Condensed'
    -# Modernizr is required for Zurb Foundation
    -#= javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track': true

    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'

    = yield :js if content_for(:js)
    = csrf_meta_tags
    = yield :head if content_for(:head)
  %body
    = yield :body if content_for(:body)
    = render partial: 'layouts/header'
    = render partial: 'layouts/navigation'
    = render 'shared/messages'
    = yield
    = render partial: 'contacts/form' unless current_page?(contact_path)
    = render partial: 'layouts/footer'
    = yield :modal if content_for(:modal)
